files:      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      (certificate.crt)
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      (ca_bundle.crt)
      -----END CERTIFICATE-----
    
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      (private.key)
      -----END RSA PRIVATE KEY-----
